body {
	margin: 0;
}

.game-invisible {
	display: none;
}

.game-container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	
	background-color: black;
	color: white;
}

.game-gui {
	position: fixed;
	left: 0;
	top: 0;
}

#box {
	background-color: red;
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 25px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}