body {
	margin: 0;
	background-color: green;
}

.menu-container {
	background-color: rgba(255, 255, 255, 0.6);
}

.game-gui {
	color: white;
}

#box {
	background-color: blue;
	width: 50px;
	height: 50px;
	position: relative;
	border-radius: 25px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}