body {
	margin: 0;
}

.menu-container {
	background-color: rgba(255, 255, 255, 0.6);
}

.game-gui {
	color: black;
	background-color: aliceblue;
	padding: 10px;
	display: inline-block;
	line-height: 1.5;
}
